/* here you can put your own css to customize and override the theme */
.navbar-default {
      /*background-color:transparent !important;
      border-color:transparent;
      background-image:none;
      box-shadow:none;*/
      background:#0E66C3!important;  
      background: linear-gradient(to bottom right, #0E66C3, #00b09e)!important;
 }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff!important;
    background-color: #215786!important;
}

.navbar-inverse .navbar-brand {
    color: #fff!important;
}

.navbar-inverse {
    background-color: #215786;
     border-color:#215786; 
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #215786!important;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff!important;
}

.alert-danger {
    background-color:rgba(199, 0, 0, 0.23)!important;
    border-color: rgba(224, 34, 34, 0.37)!important;
    color: #e02222!important;
}

body::-webkit-scrollbar
{
    width: 1px!important;
}
body::-webkit-scrollbar-track-piece
{
    background-color: transparent!important;
    -webkit-border-radius: 6px!important;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    color: #808080!important;
}